.column {
  box-sizing: border-box;
  width: 1200px;
  text-align: center;


}

.column1 {
  width: 33%;
  margin-right: 50px;
  float: left;

}
.column2 {
  width: 33%;
  margin-right: 50px;
}
.column3 {
  width: 33%;
  float: right;
}
