
@font-face {
  font-family: 'WorkSans-Bold';
  src: url('../fonts/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WorkSans-Bold.woff') format('woff'),
  url('../fonts/WorkSans-Bold.ttf')  format('truetype'),
  url('../fonts/WorkSans-Bold.svg#WorkSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #737778;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}




footer ul{
  list-style: none;
}


.bitmap {
  width: 1920px;
  height: 915px;
  /* object-fit: contain; */
  margin: 0 auto;
  background-image: url(../img/bitmap.jpg);
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}


                            /*menu block */
.menu-block {
  box-shadow: 0px 4px 0px 0 rgba(58, 67, 70, 0.11);
}
.header-logo {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  float: left;
  color: #8564c1;
}
.header-navigations {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  display: inline-block;
  padding: 0px 50px;
}
.color-link  {
  background-color: #8564c1;
  display: inline-block;
  padding: 35px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
:after,
:before {
  box-sizing: border-box;
}

              /*locations page*/
.areas_we_serve {
  margin-top:  122px;
  margin-bottom: 77px;
}
.areas_we_serve h1 {
  text-align: center;
  font-size: 42px;
  color: #57616b;
}
.areas_we_serve p {
  text-align: center;
  font-size: 18px;
  color: #8998a7;
}

.users-area {
  margin-bottom: 86px;
}
.users_area input {
  display: inline-block;
  width: 344px;
  padding: 24px;
  /* margin-bottom: 17px; */
}
.style-button {
  padding: 24px 61px;
  border-radius: 30px;
  background-color: #8564c1;
  box-shadow: 0px 6px 18px 0 rgba(57, 73, 78, 0.28);
  display: inline-block;
  color: white;
}
.style-button:nth-last-child(2n) {
  background-color: #fafcfd;
  color: #8c96aa;
}
#map {
  height: 500px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.block-decor {
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 0 #dfe7eb;
  margin-bottom: 87px;
}
 .safe_effective {
   padding-left: 70px;

 }
 .hp h5 {
   font-weight: bold;
 }
 .hp {
   text-align: left;
 }
 .city_nav {
   column-count: 4;
   list-style: none;
   margin-top: 41px;
   margin-bottom: 90px;
   /* column-gap: 20px; */
 }
 .city_nav li {
   margin-bottom: 20px;
 }

 .users-button {
   float: right;
   margin-top:  50px;
   margin-left: 10px;
 }
 .users-button::after {
   box-shadow: 0px 4px 0px 0 rgba(58, 67, 70, 0.11);
 }

              /*locations page* end/


.questions::after {
  display: inline-block;
  width: 40px;
  height: 30px;
  content: "";
  background-image: url(../img/pluss.svg);
  background-repeat: no-repeat;
  background-position: right;
  float: right;
}
.questions.collapsed::after {
  background-image: url(../img/minus.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.questions {

}
.question_item {
  background-color: #ffffff;
  padding: 20px 40px;
  margin: 27px;
  /* width: 955px;
 height: 204px; */
  /* border-radius: 5px;
  box-shadow: 0px 3px 7px 0 rgba(144, 151, 154, 0.28);
} */
.questions {
  text-align: left;
}



/* html {
  font-size: 20px;
} */


/* .areas-navigations ul {
  list-style: none;
} */
.header-navigations li {
  display: inline-block;
  padding: 10px;
  text-align: center;
}
/* .main-areas-navigations {
  width: 50%;
  float: left;
} */
.text {
  text-align: center;
  max-width: 720px;
}

p {
 text-align: justify;
}
div {
display: block;
}
.house_photo {
  margin-top: 120px;
  margin-bottom: 132px;
}

.tel_button {
  float: right;
  width: 188px;
  height: 68px;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 0 #dfe7eb;

}

h1 {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 42px;
  color: #57616b;
}

.sp_footer {
  background-color: #fafcfd;
  padding-top: 70px;;
  padding-bottom: 50px;
  border: 0 12px solid #bbc1cd;
}
.sp_footer.sp_col-4 li {
  list-style: none;
  margin-bottom: 21px;
}
.sp_footer.sp_col-4 a {
  text-decoration: none;
}
.book_service {
  box-shadow: 0px 3px 5px 0 #dfe7eb;
}
.sp_row {
  margin-right: -15px;
  margin-left: -15px;
}

/* .book_service::after {
  content: "";
  display: table;
  clear: both;
} */

.provide {
  width: 574px;
  height: 44px;
  font-size: 18px;
  font-weight: 500;
  /* text-align: center; */
  color: #8998a7;
}
.areas-navigations li{
  padding-right: 15px;
  padding-left: 15px;
  width: 25%;
  float: left;
}
#ul_block {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 797px;
  height: 328px;
}
/* ul li:first-child { border-top: none; }
ul li:last-child { border-top: none; } */

.stay_connected {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 106px;
  margin-bottom: 169px;
  border: 3px solid rgba(86,61,124,.2);
  display: block;
  width: 818px;
  height: 68px;
}
#text {
  float: left;
}
.main-navigations {
  float: right;
  width: 275px;
}
#img_link a {
  width: 20%;
}
#maket {
  align: center;
}
#td {
  width: 82px;
}


.myslick {
  box-shadow: 0px 3px 5px 0 #dfe7eb;
}

/* .calc::after {
  width: 1154px;
  height: 2px;
  background-color: #bbc1cd;
  border: solid 2px #bbc1cd;
  margin-bottom: 30px;
} */
/* .float-left {
  float: left;
  padding-left: 63px;
  width: 20%;
} */
label {
 display: inline-block;
 min-width: 50px;
 padding: 10px;
 background-color: #ffffff;
 border: solid 2px #bbc1cd;
 margin: 21px;
}
/* input[type=radio],
input[type=checkbox],
input[type=text],
input[type=number],
input[type=email] + label{
  display: none;
} */
/* input[type=radio] + label{
  display: none;
}
input[type=text] + label{
  display: none;
}
input[type=number] + label{
  display: none;
}
input[type=email] + label{
  display: none;
} */

input[type=radio]:checked + label{
  background-color: #8564c1;
  color: white;
}
input[type=submit] {
  float: right;
}
input[type=text] + label{
  display: none;
}


.maket td {
  /* border: 1px solid grey; */
  padding: 15px;
  text-align: center;
  height: 1px;
  border-bottom: solid 1px #bbc1cd;
}
.maket .main-areas {
  padding: 15px;
  text-align: left;
}
.table_size {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 0 #dfe7eb;
  padding-top: 129px;
  padding-bottom: 62px;
}
.lorem_nav {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  columns: 3;
}


[class^=sp_col-] {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
}

.sp_col-1 {
    width: calc(100% / 12);
}

.sp_col-2 {
  width: calc((100% / 12) * 6);
}

.sp_col-3 {
  width: calc((100% / 12) * 4);
}

.sp_col-4 {
  width: calc((100% / 12) * 3);
}
/* .sp_col-7 {
  width: calc((100% / 12) * (12/7));
  float: left;

} */


.sp_col-2 li {
  list-style: none;
  align: left;
}
hr {
  width: 1154px;
  height: 2px;
  background-color: #bbc1cd;
  border: solid 2px #bbc1cd;
}
.sp_col-2.text-form {
  width: 10%;
}
.sp_col-2.type-form {
  width: 90%;
}
.sp_col-2.type-form label {
  display: inline-block;
  min-width: 50px;
  padding: 10px;
  background-color: #ffffff;
  border: solid 2px #bbc1cd;
  margin: 11px;
}
/* .type-form  label {
  display: none;
} */
#adress {
  display: inline-block;
  width: 552px;
  height: 50px;
  background-color: #d7e5f1;
  border: solid 2px #d7e5f1;
}
#number {
  display: inline-block;
}
#email {
  display: inline-block;
}

/* .estimate {
  width: 30%;
} */


                                    /*Working with @media*/
@media all and (max-width: 1000px) {
  .table_size {
  overflow-y: hidden;
  overflow-x: auto;
  }
}
                                /* Large */
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 1140px;
  }
  .sp_col-4 {
    width: calc((100% / 12) * 6);
  }
  /* .city_nav ul{
    column-count: 2;
  } */
}


                              /* Medium */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 960px;
  }
  [class*="sp_col-"] {
      width: 100%;
  }
  /* .city_nav ul{
    column-count: 1;
  } */
}

                            /* Small */
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 720px;
  }
  [class*="sp_col-"] {
    width: 100%;
  }
  /* .city_nav {
    column-count: 1;
  } */
}

                                /* Extra Small */
@media all and (max-width: 576px) {
  .container {
    width: 540px;
  }
  [class*="sp_col-"] {
    width: 100%;
  }
  /* .city_nav {
    column-count: 1;
  } */
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  div.example {
    display: none;
  }
}
