.column {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  min-width: 1200px;
  text-align: center;
  border: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
}
.column1 {
  width: 350px;
  margin-right: 50px;
  float: left;
  border: 1px solid grey;
}


.column2 {
  width: 350px;
  margin-left: 400px;
  margin-right: 50px;
  border: 1px solid grey;
}



.column3 {
  width: 350px;
  float: right;
  margin-right: 50px;
  border: 1px solid grey;
  clear: both;
}
table {
  display: table;
  border: 1px solid #ddd;
}
tr {
  box-shadow: grey;
}
td {
  box-shadow: 0 1px 1px grey;
}
h5 {
  text-align: center;
}
